# Dependencies
node_modules
bun.lockb

# Builds
dist
coverage

# Environment
.env
.env.*
!.env.example
*.local

# Runtime files
logs
*.log
uploads/*
!uploads/.gitkeep

# Other package managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# Editor/system
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
